.flip-card {
  background-color: transparent;
  width: 180px;
  height: 300px;
  perspective: 1000px;
}

.flipInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 12px;
}

.flip-card:hover .flipInner {
  transform: rotateY(180deg);
}

.flipFront, .flipBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flipFront {
  background-color: #7095e0;
}

.flipBack {
  background-color: #0F1B34;
  color: #fff;
  transform: rotateY(180deg);
  font-size: 0.85rem;
}
